chromadb==1.0.8
docx==0.2.4
docx2txt==0.9
dotenv==0.9.9
faiss-cpu==1.11.0
huggingface-hub==0.30.2
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.62
langchain-google-genai==2.1.5
langchain-huggingface==0.2.0
langchain-openai==0.3.14
langchain-text-splitters==0.3.8
nltk==3.9.1
numpy==2.2.5
openpyxl==3.1.5
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.1.0
streamlit==1.44.1
